<!doctype html>
<html lang="">
<head>
   <%- include('./partials/head'); %>
</head>
<body>
<main>
    <section>
        <form class="auth" method="post">
            <div class="auth__logo">
                <img src="/img/casual-life-3d-blue-scared-ghost 1dog.svg" alt="">
            </div>
            <h1 class="auth__title">Войдите в игру</h1>
            <div>
                <input type="text" class="login" placeholder="Логин" name="login">
            </div>
            <div>
                <input type="password" class="password" placeholder="Пароль" name="password">
            </div>
            <div>
                <button class="auth__button" type="submit">Войти</button>
            </div>
        </form>
    </section>
</main>

</body>
</html>