<!doctype html>
<html lang="en">
<head>
    <%- include('./partials/head'); %>
</head>

<body>
<header>
    <div class="logo">
        <img src="/img/s-logo.svg" alt="">
    </div>
    <nav class="nav">
        <a class="nav__link" href="#">Игровое поле</a>
        <a class="active nav__link" href="#">Рейтинг</a>
        <a class="nav__link" href="#">Активные игроки</a>
        <a class="nav__link" href="#">История игр</a>
        <a class="nav__link" href="#">Список игроков</a>
    </nav>
    <button class="header__button">
        <img src="/img/Vector.svg">
    </button>
</header>
<main>
    <div class="rating-table">
        <h1 class="rating-table__title">Рейтинг игроков</h1>
        <table>
            <thead>
            <tr>
                <th>ФИО</th>
                <th>Всего игр</th>
                <th>Победы</th>
                <th>Проигрыши</th>
                <th>Процент побед</th>
            </tr>
            </thead>
            <tbody>
            <% for (var i = 0; i < rating.length; i++ ) { %>
            <tr>
                <td>
                    <%= rating[i].fio %>
                </td>
                <td>
                    <%= rating[i].totalGames%>
                </td>
                <td class="wins">
                    <%= rating[i].wins%>
                </td>
                <td class="loses">
                    <%= rating[i].loses%>
                </td>
                <td>
                    <%= rating[i].winsPercent%>
                </td>
            </tr>
            <% }%>
            </tbody>
        </table>
    </div>
</main>

</body>
</html>