* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #e5e5e5;
    font-family: 'Roboto', sans-serif;
    color: #373745;
    background: #F6F6F6;
    font-family: 'Roboto';
}

section {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100%;
}

.auth {
    width: 400px;
    padding: 40px 24px;
    background: #FFFFFF;
    border-radius: 16px;
    box-shadow: 0px 4px 20px rgba(44, 57, 121, 0.09);
}

.auth__logo {
    text-align: center;
    margin-bottom: 20px;
}

.auth__title {
    text-align: center;
    margin: 0 0 20px 0;

    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 150%;
    color: #373745;
}

.login {
    padding: 12px 20px;
    width: -webkit-fill-available;

    background: #FFFFFF;
    border: 1px solid #DCDCDF;
    border-radius: 12px;
    margin-bottom: 12px;

    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
}

.password {
    padding: 12px 20px;
    width: -webkit-fill-available;

    background: #FFFFFF;
    border: 1px solid #DCDCDF;
    border-radius: 12px;
    margin-bottom: 20px;

    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
}

.auth__button {
    padding: 12px 20px;

    width: 100%;
    border: none;

    background: rgba(96, 194, 170, 0.3);
    border-radius: 12px;

    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    color: #FFF;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    width: -webkit-fill-available;

    background: #fff;
    padding: 16px 40px;
    box-shadow: 0px 2px 6px rgba(44, 57, 121, 0.1);
    border-radius: 0px 0px 16px 16px;
}

.nav {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
}

.nav__link {
    text-decoration: none;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.24px;
    color: #373745;
}

.nav__link.active {
    background: #60c2aa;
    color: #fff;
    padding: 4px 12px;
    border-radius: 200px;
}

.header__button {
    border: none;
    background: none;
    cursor: pointer;
}

.logo {
    cursor: pointer;
}

.rating-table {
    background: #fff;
    padding: 32px;
    border-radius: 40px;
    box-shadow: 0px 4px 20px rgba(44, 57, 121, 0.09);
    max-width: 1026px;
    margin: 144px auto;
}

table {
    width: 100%;
}

.rating-table__title {
    font-size: 24px;
    font-weight: 700;
    line-height: 150%;
    margin: 0 0 24px 0;

}

th, td {
    text-align: left;
    padding: 12px;
}

tr {
    box-shadow: inset 0px -1px 0px #EEEFF5;
}

.wins {
    color: #69B849;
}

.loses {
    color: #E93E3E;
}
